@using EntitiyLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@{
    string status = "";
}
<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.BlogStatus == true)
        {
            status = "Aktif";
        }
        if (item.BlogStatus == false)
        {
            status = "Pasif";
        }
        <tr>
            <th>@item.BlogID</th>
            <td>@item.BlogTitle</td>
            <td> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>@status</td>

            <td>@Html.ActionLink("Sil", "DeleteBlog", new { id = item.BlogID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinize Eminmisiniz?')" })</td>
            <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>
